@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* common Style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

img {
    width: 100%;
}

/* rigth side style */
.right-side {
     background: #F8F8F8;
     padding: 20px 0;
     border-radius: 10px;
}

.alert{
    background-color: tomato;
    color: #F8F8F8;
    display: none;
}